<div class="root">
	@* 电机选型 *@
	<RazorUI.Layout.SecondaryNavMenu FirstLevelNavigationPath="commom">
		<RazorUI.Layout.SecondaryNavMenuButton Href="commom/home">
			<Left>
				🏠
			</Left>
			<Right>
				home
			</Right>
		</RazorUI.Layout.SecondaryNavMenuButton>
		<RazorUI.Layout.SecondaryNavMenuButton Href="commom/page1">
			<Left>
				📈
			</Left>
			<Right>
				page1
			</Right>
		</RazorUI.Layout.SecondaryNavMenuButton>
	</RazorUI.Layout.SecondaryNavMenu>

	@* 维护 *@
	<RazorUI.Layout.SecondaryNavMenu FirstLevelNavigationPath="maintain">
		<RazorUI.Layout.SecondaryNavMenuButton Href="maintain/log">
			<Left>
				<Icon.Terminal></Icon.Terminal>
			</Left>
			<Right>
				log
			</Right>
		</RazorUI.Layout.SecondaryNavMenuButton>
	</RazorUI.Layout.SecondaryNavMenu>
</div>

@*
	🏠🛠️🔧⚙️🔌💻🖥️📡📋🗓️📈📝🗒️
	🔎🔍📺📀💾🖱️⌨️🖨️🔋🪫🔭🔬🎹🎰🕹️🪄🎮🛒🖼️
*@
